@model gestaoCaridade.Models.Evento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEvento" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelMesa" class="control-label"></label>
                <select asp-for="idResponsavelMesa" class="form-control" asp-items="ViewBag.idResponsavelMesa"></select>
                <span asp-validation-for="idResponsavelMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelPalco" class="control-label"></label>
                <select asp-for="idResponsavelPalco" class="form-control" asp-items="ViewBag.idResponsavelPalco"></select>
                <span asp-validation-for="idResponsavelPalco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelCozinha" class="control-label"></label>
                <select asp-for="idResponsavelCozinha" class="form-control" asp-items="ViewBag.idResponsavelCozinha"></select>
                <span asp-validation-for="idResponsavelCozinha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelBebidas" class="control-label"></label>
                <select asp-for="idResponsavelBebidas" class="form-control" asp-items="ViewBag.idResponsavelBebidas"></select>
                <span asp-validation-for="idResponsavelBebidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelCaixas" class="control-label"></label>
                <select asp-for="idResponsavelCaixas" class="form-control" asp-items="ViewBag.idResponsavelCaixas"></select>
                <span asp-validation-for="idResponsavelCaixas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelLixo" class="control-label"></label>
                <select asp-for="idResponsavelLixo" class="form-control" asp-items="ViewBag.idResponsavelLixo"></select>
                <span asp-validation-for="idResponsavelLixo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelSeguranca" class="control-label"></label>
                <select asp-for="idResponsavelSeguranca" class="form-control" asp-items="ViewBag.idResponsavelSeguranca"></select>
                <span asp-validation-for="idResponsavelSeguranca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelLimpeza" class="control-label"></label>
                <select asp-for="idResponsavelLimpeza" class="form-control" asp-items="ViewBag.idResponsavelLimpeza"></select>
                <span asp-validation-for="idResponsavelLimpeza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClubeAgendado" /> @Html.DisplayNameFor(model => model.ClubeAgendado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ConfirmarNumeroMesas" /> @Html.DisplayNameFor(model => model.ConfirmarNumeroMesas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

